@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --family: 'Roboto', sans-serif;
  --fs-main: 16px;
  --fs-subtitle: 18px;
  --fs-title: 23px;
  --fw-light: 300;
  --fw-normal: 500;
  --fw-bold: 900;

  --background: #141e24;
  --background-accent: #255142;
  --background-input: #aaaaaa63;
  --background-hints: #adbdaefc;
  --border-color: #255142;
  --color-text: #eff3f0;

  --shadow: 5px 11px 9px -3px rgba(20 34 44 / 20%);
  --shadow-card: 2px 11px 16px 5px rgba(15, 21, 45, 0.2);
  /* Other */
  --radii: 2rem;
  --radii-mini: 1rem;
}

body {
  margin: 0;
  font-family: var(--family);
  font-weight: var(--fw-light);
  font-size: var(--fs-main);
  background: linear-gradient(113deg, #1273aa 0%, rgba(3, 40, 18, 0.71) 100%);
  color: var(--color-text);
  height: 100vh;
}
