@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --family: 'Roboto', sans-serif;
  --fs-main: 16px;
  --fs-title: 23px;
  --fw-light: 300;
  --fw-normal: 500;
  --fw-bold: 900;

  --background: #071016;
  --background-accent: #39833c;
  --color-text: #eff3f0;

  --shadow: 1px 5px 13px 7px rgba(178, 181, 188, 0.2);
  /* Other */
  --radii: 2rem;
}

body {
  margin: 0;
  font-family: var(--family);
  font-weight: var(--fw-light);
  background-color: var(--background);
  color: var(--color-text);
}
